<nav class="nav-primary container">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Sobre Mi</a></li>
        <li><a href="/services">Servicios</a></li>
        <li><a href="/projects">Proyectos</a></li>
        <li><a href="/contact">Contactame</a></li>
    </ul>
</nav>