:root {
    --blanco: #ffffff;
    --negro: #212121;
    --mostaza: #FFC300;
    --vinotinto: #560723;
    --morado: #5d0068;
    --primario: #004045; /* 005C5A 196063  21766F 007A78 23858b Otra opción*/
    --secundario: #ffe9b9; /* Otro FFD17C*/
    --complementario: #FC9853;
    --terciario: #7DFF88; /* Otro 80FF91*/
    --gris: rgb(170, 170, 170);

    --font-1: font-family: 'Lato', sans-serif;
    --font-2: font-family: poppins-extralight,poppins,sans-serif;
    --font-3: font-family: montserrat,sans-serif;
}

/* Globales */
/*Nunca debe faltar en todos los proyectos*/
html {
 font-size: 62.5%;
 box-sizing: border-box; /* box model*/
 scroll-snap-type: y mandatory; /* scroll en el eje y*/
}

*, *:before, *:after {
    box-sizing: inherit;
  } /* Tamaño de la caja antes y despúes */

/* Globales scroll */
/* .services,
.nav-primary {
    scroll-snap-align: center;
    scroll-snap-stop: always;
} */

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    background-image: linear-gradient(to top, #adadad 0%, var(--blanco) 100%) /* Degradado de abajo hacia arriba*/ 
}

.shade {
    -webkit-box-shadow: 0px 6px 15px 4px rgba(170, 170, 170, 0.58);
    -moz-box-shadow: 0px 6px 15px 4px rgba(170,170,170,0.58);
    box-shadow: 0px 6px 15px 4px rgba(170,170,170,0.58);
    padding: 2rem;
}

/* Tipografias */

h1 {
    font-size: 4rem;
    font-family: 'Metal Mania', sans-serif;
    color: var(--primario);
    font-weight: 500;
    /* font-family: Arial, Helvetica, sans-serif; */
    /*font-family: 'Lato', sans-serif;
    font-family: 'Metal Mania', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;*/
}

h2 {
    font-size: 3.2rem;
    color:  var(--vinotinto)
}

h3 {
    font-size: 2.6rem;
    color: var(--primario);
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

.button {
  background-color: var(--mostaza);
  color: var(--primario);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase; /**Mayuscula**/
  font-weight: bold;
  border-radius: .5rem;  
  text-align: center;
  border: none;
}

@media (min-width: 768px) {
    .button {
        width:auto;
    }
}

h1 span {
    font-size: 2rem;
    color: var(--primario);
}

.container {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 120rem;
    }
}

/*Header*/

.header a {
    display: flex;
    align-content: center;
    align-items: center
}



@media (min-width: 768px) {
    .header h1 {
        padding-left: 20%;
    }
}

/*Logo*/

.logo {
    width: 18%;
}

/* Utilidades */
.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
    justify-content: center;
}

.align-right {
    justify-content: flex-end;

}

.nav-bg {
    background-color: var(--primario);
}

.nav-primary {
    padding: 0.1rem;
}

.nav-primary ul {
    padding: 0 3rem;
    list-style:none;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .nav-primary ul {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .nav-primary ul li a {
        display: block;
    }

}

.nav-primary ul li a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
}

.nav-primary ul li a:hover {  
    color: var(--mostaza);
}

.hero {
    background-image: url(../img/developercabecera-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
    border-radius: .5rem ;
}

.container-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column; /** alinea horizontalmente con flex **/
    align-items: center;
    justify-content: center;
}

.container-hero h2,
.container-hero p {
    color: var(--blanco);
    display: flex;
    align-items: center;
}

/**Servicios*/

@media (min-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* crea tres columnas de 33% */
        /* grid-template-columns: 1fr 1fr 1fr; */
        /* grid-template-columns: 300px 300px;
        grid-template-rows: 200px 800px;
        grid: 200px 800px; */
        column-gap: 1rem;
    }
}

@media (max-width: 767px) {
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
}

.services p {
    line-height: 1.5;  /* //Internileado */
}
.services h3 {
    columns: var(--primario);
    font-weight: 400;
}

.services .icons {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: var(--mostaza);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


    .section-services {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }


/*Formulario*/

.form-contact {
    background-color: rgb(53, 53, 53);
    width: min(60rem, 100%); /* utilizar el valor más pequeño */
    margin: 0 auto;  /* (Justifica el contenido cuando no uso flex, no tengo justify-content) */
    padding: 2rem;
    border-radius: 1rem;
}

.form-contact fieldset {
    border: none;
}

.form-contact legend {
    text-align: center;
    font-size: 1.rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--mostaza);
}

@media (min-width: 768px) {
    .containes-fields {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem; /* separación de columnas */
    }

    .field:nth-child(3),
    .field:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.field {
    margin-bottom: 1rem;
}

.field label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.inputs {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 2%;
}

@media (min-width: 768px) {
    .align-righ.flex {
        padding-top: 6%;
    }
}

/* .field input[type="text"]{
    background-color: #80FF91;
}  seleccionar un input por type*/


input.button.submit.w-sm-100 {
    width: 50%;
}

/*Footer*/
.footer {
    text-align: center;
}

/* .clase:last-of-type{
    Selecciona el ultimó elemento
} */

/* grid */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem; /* separación hacia los lados */
    row-gap: 2rem; /* separación hacia abajo */
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);

    }
}


/* servicios */
.service {
    background-color: var(--vinotinto);
    padding: 1rem;
}

.service__img {

}

.service__name {

}

.service__price {

}

/* proyectos */

.project {
    background-color: #adadad;
}

.project__img {
    border-radius: 0%;
}

.project__name {
    color: aqua;
}

.project__price {
    color: blueviolet;
}

/* sobe mi */

.about {
    display: flex;
}

.info-about {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-about {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/604/631/643/petrol-green-wallpaper-preview.jpg);
    width: 50%;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.jumbotron {
    text-align: center;
}

footer p {
    text-align: center;
}