<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="nav-bg">
        <%- include('../partials/nav'); %>
    </div>

    <br>
    <br>

    <main>

        <div class="container about">
            <div class="info-about">
                <div class="">
                    <div class="jumbotron">
                        <h2>Sobre mi</h2>
                        <br>
                        <p>Desarrolladora Web Full Stack, con formación profesional en Relaciones Económicas Internacionales, me encuentro en búsqueda de nuevos desafíos que me permita potenciar mi desarrollo profesional, buen manejo de las relaciones interpersonales, excelente análisis de la información y habilidades numéricas. 
                            <br>
                            <br>
                            Con conocimientos en desarrollo de páginas web e implementación de buenas prácticas, manejo de la plataforma Vtex, para el funcionamiento de tiendas 
                            E-commerce, uso de metodologías ágiles (Scrum).
                        </p>
                    </div>
                </div>
    
                <br>
                
                <div class="">
                    <div class="">
                        <a class="button" href="/contact">Contactar</a>
                    </div>
                </div>
    
            </div>

            <div class="background-about">
                <img src="img/Yanneth.jpeg" alt="" width="260px">  
            </div>

        </div>
        
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>