<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="nav-bg">
        <%- include('../partials/nav'); %>
    </div>

    <main class="container">
        <h2>Nuestros productos</h2>

        <div class="grid">
            <div class="project">
                <a href="/project"></a>
                <img class="project__img" src="img/2.jpg" alt="">
                <div class="project__info">
                    <p class="project__name">Angular </p>
                    <p class="project__price">$25</p>
                </div>
            </div> <!--project-->

            <div class="project">
                <a href="/project"></a>
                <img class="project__img" src="img/2.jpg" alt="">
                <div class="project__info">
                    <p class="project__name">Camisa </p>
                    <p class="project__price">$25</p>
                </div>
            </div> <!--project-->

            <div class="project">
                <a href="/project"></a>
                <img class="project__img" src="img/3.jpg" alt="">
                <div class="project__info">
                    <p class="project__name">Camisa </p>
                    <p class="project__price">$25</p>
                </div>
            </div> <!--project-->

            <div class="project">
                <a href="/project"></a>
                <img class="project__img" src="img/1.jpg" alt="">
                <div class="project__info">
                    <p class="project__name">Camisa </p>
                    <p class="project__price">$25</p>
                </div>
            </div> <!--project-->

            <div class="project">
                <a href="/project"></a>
                <img class="project__img" src="img/1.jpg" alt="">
                <div class="project__info">
                    <p class="project__name">Camisa </p>
                    <p class="project__price">$25</p>
                </div>
            </div> <!--project-->

            <div class="project">
                <a href="/project"></a>
                <img class="project__img" src="img/1.jpg" alt="">
                <div class="project__info">
                    <p class="project__name">Camisa </p>
                    <p class="project__price">$25</p>
                </div>
            </div> <!--project-->

        </div>

    </main>
    
</body>

<footer class="footer">
    <%- include('../partials/footer'); %>
</footer>

</html>