<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="nav-bg">
        <%- include('../partials/nav'); %>
    </div>

    <main class="container">
        <h2>Nuestros productos</h2>

        <div class="grid">
            <div class="service">
                <a href="/service"></a>
                <img class="service__img" src="img/2.jpg" alt="">
                <div class="service__info">
                    <p class="service__name">Angular </p>
                    <p class="service__price">$25</p>
                </div>
            </div> <!--service-->

            <div class="service">
                <a href="/service"></a>
                <img class="service__img" src="img/2.jpg" alt="">
                <div class="service__info">
                    <p class="service__name">Camisa </p>
                    <p class="service__price">$25</p>
                </div>
            </div> <!--service-->

            <div class="service">
                <a href="/service"></a>
                <img class="service__img" src="img/3.jpg" alt="">
                <div class="service__info">
                    <p class="service__name">Camisa </p>
                    <p class="service__price">$25</p>
                </div>
            </div> <!--service-->

            <div class="service">
                <a href="/service"></a>
                <img class="service__img" src="img/1.jpg" alt="">
                <div class="service__info">
                    <p class="service__name">Camisa </p>
                    <p class="service__price">$25</p>
                </div>
            </div> <!--service-->

            <div class="service">
                <a href="/service"></a>
                <img class="service__img" src="img/1.jpg" alt="">
                <div class="service__info">
                    <p class="service__name">Camisa </p>
                    <p class="service__price">$25</p>
                </div>
            </div> <!--service-->

            <div class="service">
                <a href="/service"></a>
                <img class="service__img" src="img/1.jpg" alt="">
                <div class="service__info">
                    <p class="service__name">Camisa </p>
                    <p class="service__price">$25</p>
                </div>
            </div> <!--service-->

        </div>

    </main>
    
</body>

<footer class="footer">
    <%- include('../partials/footer'); %>
</footer>

</html>